<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Event</h1>
    <div class="col-6 offset-3">
        <form action="/centres" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="centre[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="centre[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>


            <div class="mb-3">
                <label class="form-label" for="eventCelebrateName">Your Name</label>
                <input class="form-control" type="text" id="eventCelebrateName" name="centre[eventCelebrateName]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="eventId">Event Id</label>
                <input class="form-control" type="text" id="eventId" name="centre[eventId]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="eventPassword">Password</label>
                <input class="form-control" type="text" id="eventPassword" name="centre[eventPassword]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="eventDateTime">Date&Time</label>
                <input class="form-control" type="text" id="eventDateTime" name="centre[eventDateTime]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="centre[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> -->
            <div class="mb-3">
                <label class="form-label" for="mobile"> Mobile</label>
                <div class="input-group">
                    <!-- <span class="input-group-text" id="mobile-label">$</span> -->
                    <input type="text" class="form-control" id="mobile" placeholder="" aria-label="mobile"
                        aria-describedby="mobile-label" name="centre[mobile]" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="centre[description]"
                    required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Choose image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Event</button>
            </div>
        </form>
        <a href="/centres">Existing Events</a>
    </div>
</div>
